SHOPIFY_API_KEY=2b2c5016df859119a974ae9c4b69785e
SHOPIFY_API_SECRET=ec96b4755c2dad904d9f3b878b64b66e
SHOPIFY_API_SCOPES=read_script_tags,write_script_tags,read_products,write_products,read_themes,read_discounts,write_discounts,read_price_rules,write_price_rules,read_product_listings
SHOPIFY_APP_URL=https://60ec-2604-3d09-7376-4300-ada6-fb94-69f-a2de.ngrok-free.app
SHOPIFY_API_VERSION="2023-07"
# DATABASE_URL="postgres://admin:admin@127.0.0.1:5432/shopify-app?schema=public"
ENCRYPTION_STRING= #Required

# To quickly install the app on your store, use this URL:
# https://60ec-2604-3d09-7376-4300-ada6-fb94-69f-a2de.ngrok-free.app/api/auth?shop=zrdstore3.myshopify.com

## Notes:
# Ensure SHOPIFY_APP_URL starts with `https://`
# When deploying to Vercel, don't wrap any values in quotes