# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

name = "Iphis Discounts"
client_id = "3c48d3d21301345336620ff1277a27df"
application_url = "https://iphisdiscounts.zinreet.com"
embedded = true

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
use_legacy_install_flow = true

[auth]
redirect_urls = [
  "https://iphisdiscounts.zinreet.com/api/auth/tokens",
  "https://iphisdiscounts.zinreet.com/api/auth/callback"
]

[webhooks]
api_version = "2023-07"

[pos]
embedded = false